{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "last 2 versions, ie 11",
                "modules": false
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
